ion-fab-button {
    --background: rgb(71, 71, 71);
    --border-radius: 10px;
    --color: black;
    margin-bottom: 5vh;
    margin-right: 5vw;
    height: 10vh;
    width: 10vh;
  }

  h1{
    text-align: center;
    color:white;
  }

  h2{
    color:white;
  }

  h3{
    color:white;
  }