<ion-app>
  <ion-content>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button routerLink="">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
          </ion-buttons>
        <ion-title>{{tarea.titulo}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <h1>{{tarea.titulo}}</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h2>Fecha:</h2>
          </ion-col>
          <ion-col>
            <h2>{{tarea.fechaMes}}/{{tarea.fechaAnio}}</h2>
          </ion-col>
          <ion-col size="6">
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col size="12">
            <img src={{imageinfo[random()].download_url}}>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col><h3>{{tarea.descripcion}}</h3></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><a href="https://www.facebook.com/"><ion-icon name="logo-facebook" size="large"></ion-icon></a></ion-col>
          <ion-col><a href="https://twitter.com/"><ion-icon name=logo-twitter size="large"></ion-icon></a></ion-col>
          <ion-col><a href="https://www.whatsapp.com/"><ion-icon name="logo-whatsapp" size="large"></ion-icon></a></ion-col>
          <ion-col size="6"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-content>
</ion-app>