<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>2 Directiva: *ngIF <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <p *ngIf="variableA">(*ngIf="variableA") La variableA es verdadeda, por lo tanto puedes leer este parrafo</p>
    <p *ngIf="!variableA">La variableA es !verdadeda, por lo tanto NO se muestra este parrafo</p>
    <p *ngIf="variableB">La variableB es falsa, por lo tanto NO se muestra este parrafo</p>
    <p *ngIf="!variableB">(*ngIf="!variableB") La variableB es !falsa, por lo tanto puedes leer este parrafo</p>

  </div>
</ion-content>
