<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{variableF}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>2 Directiva: *ngIf </strong>
    <p *ngIf="variableA">(*ngIf="variableA") La variableA es verdadeda, por lo tanto puedes leer este parrafo</p>
    <p *ngIf="!variableA">La variableA es !verdadeda, por lo tanto NO se muestra este parrafo</p>
    <p *ngIf="variableB">La variableB es falsa, por lo tanto NO se muestra este parrafo</p>
    <p *ngIf="!variableB">(*ngIf="!variableB") La variableB es !falsa, por lo tanto puedes leer este parrafo</p>
    <br><br>
    <strong>3 Directiva: *ngFor </strong>
    <div class="articulo" *ngFor="let articulo of variableC; index as i" >
      <p>{{articulo}}:  {{variableD[i]}}</p>
    </div>
    <br><br>
    <strong>4 Directiva: [ngClass] </strong>
    <!-- Si VariableE es falsa, el div se pondra de un color mas oscuro -->
    <div [ngClass] = "{'articuloV':variableE[i], 'articuloF':variableE[i]==false}" *ngFor="let articulo of variableC; index as i" >
      <p>{{articulo}}:  {{variableD[i]}}</p>
    </div>
    <br><br>
    <strong>5 Databinding: StringInterpolation </strong>
    <p>Se cambio el titulo de la pagina usando la "variableF" la cual tiene un valor de: {{variableF}}</p>
    <br><br>
    <strong>6 Databinding: Enlace de Eventos </strong>
    <ion-button (click)="clickme()">Click Me!</ion-button>
  </div>
</ion-content>
