ion-toolbar{
    background-color: grey;
    height: 10vh;
}

ion-title{
    text-align-last: center;
    margin-top: 2.5vh;
    font-size: 5vh;
}

ion-list{
    width: 45%;
    display: inline-block;
    margin-left:2.5%;
    margin-right:2.5%;
    --background:white;
    background-color: white;
}

ion-select{
    --background:white;
}

ion-item{
    --background:white;
    color:black;
    font-size: 4vh;
}

ion-button{
    display: block;
    --background: rgba(59, 59, 59, 0.851);
    --border-radius:0;
    --border-color:transparent;
    width: 100%;
    height: 20%;
    margin-top: 1vh;
    left:-1vh;
}

ion-fab-button {
    --background: rgb(71, 71, 71);
    --border-radius: 10px;
    --color: black;
    margin-bottom: 5vh;
    margin-left: 5vw;
    height: 10vh;
    width: 10vh;
  }

h1{
    font-size: 3vh;
    margin-top: 0;
}

.nombre{
    margin-top:5vh;
    width: 90%;
    height: 20%;
    margin-left:5vw;
}

.fecha{
    margin-left:5vw;
    width: 90%;
    height: 20%;
    background-color: red;
}

.descripcion{
    margin-left:5vw;
    width: 90%;
    height: 50%;
    background-color: red;
}



