ion-header{
    background-color: transparent;
    height: 6vh;
}

ion-title{
    text-align-last: center;
    font-size: 3vh;
}

ion-button{
    display: block;
    --background: rgba(0, 0, 0, 0.851);
    --border-radius:10px;
    --border-color:white;
    width: 100vw;
    height: 6vh;
    margin-top: 3vh;
    font-size: 3vh;
}

ion-fab-button {
    --background: rgb(71, 71, 71);
    --border-radius: 10px;
    --color: black;
    margin-bottom: 5vh;
    margin-left: 5vw;
    height: 10vh;
    width: 10vh;
  }

  h1{
    color:white;
 } 

 h2{
    font-size: 2.5vh;
    margin-left: 1vw;
 } 
.detallesTarea{
    width: 90vw;
    background-color: transparent;
    border:0;
}

.detallesTarea h1{
    font-size: 3vh;
}

.detallesTarea ion-input{
    --background:rgba(128, 128, 128, 0.500);
    --border-width:2px;
    --border-radius:5px;
    --highlight-color-focused:white;
    width: 100%;
    font-size: 3vh;
    height: 7vh;
}

.detallesTarea ion-list{
    background-color: transparent;
    width: 100%;
    display: inline-block;

}

.detallesTarea ion-item{
    --background:rgba(128, 128, 128, 0.500);
    width: 100%;
    font-size: 3vh;
    border-radius: 5px;
}

.detallesTarea ion-select{
    color:white;
    height: 7vh;
}


.descripcionTarea{
    width: 90vw;
    background-color:transparent;
    border:0;
}

.descripcionTarea ion-textarea{
    --background:rgba(128, 128, 128, 0.500);
    --border-width:2px;
    --border-radius:5px;
    --highlight-color-focused:white;
    --placeholder-opacity: 1;
    width: 100%;
    font-size: 3vh;
    
}
