<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)=cerrarmodal()>
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
        </ion-buttons>
      <ion-title>Agregar Tarea</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen="true">
    <ion-grid>
      <ion-row>
        <ion-col class="detallesTarea">
          <h1>Ingrese los datos:</h1>
          <ion-input label="Nombre de la Tarea" label-placement="floating" fill="outline" placeholder="Titulo" [(ngModel)]="tareaNueva.titulo"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <h2>Fecha de la tarea:{{tareaNueva.fechaMes}}/{{tareaNueva.fechaAnio}}</h2>
      </ion-row>
      <ion-row>
        <ion-col class="detallesTarea">
          <ion-list>
            <ion-item>
              <ion-select aria-label="Mes" interface="popover" placeholder="Mes" [(ngModel)]="tareaNueva.fechaMes">
                <ion-select-option value="01">Enero</ion-select-option>
                <ion-select-option value="02">Febrero</ion-select-option>
                <ion-select-option value="03">Marzo</ion-select-option>
                <ion-select-option value="04">Abril</ion-select-option>
                <ion-select-option value="05">Mayo</ion-select-option>
                <ion-select-option value="06">Junio</ion-select-option>
                <ion-select-option value="07">Julio</ion-select-option>
                <ion-select-option value="08">Agosto</ion-select-option>
                <ion-select-option value="09">Septiembre</ion-select-option>
                <ion-select-option value="10">Octubre</ion-select-option>
                <ion-select-option value="11">Noviembre</ion-select-option>
                <ion-select-option value="12">Diciembre</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col class="detallesTarea">
          <ion-list>
            <ion-item>
              <ion-select aria-label="Año" interface="popover" placeholder="Año" [(ngModel)]="tareaNueva.fechaAnio">
                <ion-select-option value="2023">2023</ion-select-option>
                <ion-select-option value="2024">2024</ion-select-option>
                <ion-select-option value="2025">2025</ion-select-option>
                <ion-select-option value="2026">2026</ion-select-option>
                <ion-select-option value="2027">2027</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <h2>Descripcion de la Tarea:</h2>
      </ion-row>
      <ion-row>
        <ion-col class="descripcionTarea">
          <ion-textarea [autoGrow]="true" [(ngModel)]="tareaNueva.descripcion" ></ion-textarea>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-button [disabled]="tareaNueva.titulo===''||tareaNueva.fechaAnio===null||tareaNueva.fechaMes===null||tareaNueva.descripcion===''" (click)="agregarTarea()">Agregar Tarea</ion-button>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>