<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Mi App Tareas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="!this.tareasServicio.emptyTareas">
    <ion-card class="espacioTarea" *ngFor="let tarea of tareas; index as i">
      <div class="espacioTitulo">
        <h1>{{tarea.titulo}}</h1><ion-icon name="trash" size="large" class="icon" (click)="eliminartarea(i)"></ion-icon>
      </div>
      <div class="espacioFecha">
        <h1>Fecha:</h1> <h1>{{tarea.fechaMes}}/{{tarea.fechaAnio}}</h1>
      </div>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label >Vistazo Rapido</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content"><div class="descripcionTarea">{{tarea.descripcion}}</div>
          <div><ion-button [routerLink]="['/tarea',i]">Detalles</ion-button></div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="abrirAgregarTarea()" >
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  <ion-content *ngIf="this.tareasServicio.emptyTareas">
      <div class="image">
        <img src={{imageurl}}>
      </div>
    <div class="espacioAlerta">
      <h1>Agrega tu primera Tarea!</h1>
    </div>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="abrirAgregarTarea()">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</ion-app>
