<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Mi App Tareas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card *ngFor="let tarea of tareas; index as i">
      <div class="espacioTitulo">
        <h1>{{tarea.titulo}}</h1>
      </div>
      <div class="espacioFecha">
        <h1>Fecha:  </h1> <p>  {{tarea.fechaMes}}/{{tarea.fechaAnio}}</p>
      </div>
      <ion-button (click)="abrirDetalles(tarea)">+Ver mas Detalles</ion-button>
    </ion-card>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="abrirAgregarTarea()">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>
</ion-app>
